<a href="https://colab.research.google.com/github/Sandr001/Data-Mining-MGT7216/blob/development/MGT7216.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [67]:
sales_data = pd.read_csv("/content/drive/MyDrive/Data Mining/sales_data.csv")

In [20]:
(sales_data).shape

(40000, 13)

In [5]:
sales_data.head(3)

,flag,gender,education,house_val,age,online,marriage,child,occupation,mortgage,house_owner,region,fam_income
0,Y,M,4. Grad,756460,1_Unk,N,NaN,U,Professional,1Low,NaN,Midwest,L
1,N,F,3. Bach,213171,7_>65,N,NaN,U,Professional,1Low,Owner,Northeast,G
2,N,M,2. Some College,111147,2_<=25,Y,NaN,Y,Professional,1Low,Owner,Midwest,J

In [ ]:
# @title house_val

from matplotlib import pyplot as plt
sales_data['house_val'].plot(kind='hist', bins=20, title='house_val')
plt.gca().spines[['top', 'right',]].set_visible(False)

In [15]:
sales_data.columns

Index(['flag', 'gender', 'education', 'house_val', 'age', 'online', 'marriage',
       'child', 'occupation', 'mortgage', 'house_owner', 'region',
       'fam_income'],
      dtype='object')

In [49]:
na_counts = sales_data.isna().sum()
na_counts

flag               0
gender             0
education        741
house_val          0
age                0
online             0
marriage       14027
child              0
occupation         0
mortgage           0
house_owner     3377
region             0
fam_income         0
dtype: int64

In [16]:
for column in sales_data.columns:
  if sales_data[column].dtype == "O":
    print(f"{column}: {sales_data[column].unique()}\n")

flag: ['Y' 'N']

gender: ['M' 'F' 'U']

education: ['4. Grad' '3. Bach' '2. Some College' '1. HS' '0. <HS' nan]

age: ['1_Unk' '7_>65' '2_<=25' '6_<=65' '5_<=55' '4_<=45' '3_<=35']

online: ['N' 'Y']

marriage: [nan 'Single' 'Married']

child: ['U' 'Y' 'N' '0']

occupation: ['Professional' 'Sales/Service' 'Blue Collar' 'Others' 'Retired' 'Farm']

mortgage: ['1Low' '2Med' '3High']

house_owner: [nan 'Owner' 'Renter']

region: ['Midwest' 'Northeast' 'West' 'South' 'Rest']

fam_income: ['L' 'G' 'J' 'H' 'C' 'I' 'D' 'E' 'A' 'F' 'B' 'K' 'U']

In [46]:
import re

for education in sales_data['education'].unique():
  if type(education) != float:
    level = re.findall(r'\d+', education)[0]
    print(level)
    sales_data['education'].replace(education, level, inplace=True)

sales_data['education'] = sales_data['education'].astype('Int64')

sales_data['education'].unique()

  #   education = re.sub(r'[.,\s\d]', '', education)
  #   print(education)

4
3
2
1
0

<IntegerArray>
[4, 3, 2, 1, 0, <NA>]
Length: 6, dtype: Int64

In [59]:
sales_data['age'] = (sales_data['age'].str.split('_').str[0]).astype('Int64')
sales_data['age'].unique()

<IntegerArray>
[1, 7, 2, 6, 5, 4, 3]
Length: 7, dtype: Int64

In [61]:
sales_data['mortgage'] = sales_data['mortgage'].str.replace(r'\d+', '', regex=True)
sales_data['mortgage'].unique()

array(['Low', 'Med', 'High'], dtype=object)

In [68]:
import numpy as np

# Define pay brackets
pay_brackets = {'A': 'Highest', 'B': 'Highest', 'C': 'Highest',
                'D': 'Medium', 'E': 'Medium', 'F': 'Medium', 'G': 'Medium',
                'H': 'Lowest', 'I': 'Lowest', 'J': 'Lowest', 'U': 'Unknown'}

# Map pay brackets to fam_income column
sales_data['fam_income'] = np.where(~sales_data['fam_income'].isin(pay_brackets.keys()),
                                     'Below Lowest',
                                     sales_data['fam_income'].map(pay_brackets))

sales_data['fam_income'].unique()

array(['Below Lowest', 'Medium', 'Lowest', 'Highest', 'Unknown'],
      dtype=object)